div.actions {
    position: absolute;
    bottom: 14px;
    right: 30px;

    button {
        margin-left: 5px;
    }

    .checkbox {
        display: block;
        user-select: none;
        font-size: 0.8em;
        > input {
            height: 0.7em;
        }
    }
}

.dag {
    height: 100%;
    width: 100%;
}