div.actions {
    position: absolute;
    bottom: 14px;
    right: 30px;

    button {
        margin-left: 5px;
        z-index: 100;
    }

    .checkbox {
        display: block;
        user-select: none;
        font-size: 0.8em;
        > input {
            height: 0.7em;
        }
    }
}

.dag {
    height: 100%;
    width: 100%;
}

div.dag-error {
    color: red;
    font-family: var(--monospace);
    font-size: 0.9rem;
    position: fixed;
    top: 10px;
    left: 10px;
}