<div class="outer" #outer>
    <ng-container *ngIf="visualizedTlv">
        <ng-container *ngIf="visualizedTlv.length > 0; else noTlvs"
            [ngTemplateOutlet]="visTlvA"
            [ngTemplateOutletContext]="{tlvs: visualizedTlv}">
        </ng-container>
        <ng-template #noTlvs>
            No valid TLV blocks could be decoded <br/>
        </ng-template>

        <div class="guess-box" *ngIf="guessBox">
            <label class="checkbox is-small">
                <input type="checkbox" [(ngModel)]="attemptUnknownDecode" (change)="ngOnChanges()" />
                Attempt to decode unknown TLV types
            </label>
        </div>
    </ng-container>

    <ng-container *ngIf="!visualizedTlv && warnEmpty">
        No TLV Selected <br/>
        Call <span class="has-text-danger">visualize(tlv)</span> to visualize a TLV block <br/>
        Input may be an encodable, wire byte array or hex string
    </ng-container>
</div>

<ng-template #visTlvA let-tlvs='tlvs'>
    <ng-container *ngFor='let tlv of tlvs'>
        <div class="tlv"
             [class.hover]="tlv.hover"
             (click)="tlv.expand = true; $event.stopPropagation()"
             (mouseover)="tlv.hover = true; $event.stopPropagation()"
             (mouseout)="tlv.hover = undefined">
            <span class="type" [title]="tlv.t" (click)="onClick(tlv)">
                {{ tlv.tts }}
            </span>
            <span class="length">
                {{ tlv.l }}
            </span>
            <span class="value" *ngIf="(tlv.v.length == 0 || tlv.nonest) && tlv.vl.length > 0"
                  [class.expand]="tlv.expand"
                  [class.human]="tlv.human">
                <span> {{ tlv.human ? tlv.hs : (tlv.vs || (tlv.vl.length + 'B')) }} </span>
            </span>

            <!-- Nested TLV -->
            <ng-container
                *ngIf="tlv.v.length > 0 && !tlv.nonest"
                [ngTemplateOutlet]="visTlvA"
                [ngTemplateOutletContext]="{tlvs: tlv.v}">
            </ng-container>
        </div>
    </ng-container>
</ng-template>