.outer {
    font-family: monospace;
    font-size: 0.9em;
}

.tlv {
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    padding: 1px;
    margin: 1px;
}
.tlv .type { color: red; }
.tlv .length { color: blue; }
