.outer {
    font-family: var(--monospace);
    font-size: 0.9rem;
}

.guess-box {
    margin: 2px;
    font-size: 0.9em;
}

.tlv {
    border: var(--vis-tlv-border);
    display: inline-block;
    box-sizing: border-box;
    padding: 1px 2px;
    margin: 1px;
    max-width: 100%;
    user-select: none;

    .type {
        color: var(--vis-red);
        cursor: pointer;
    }

    .length {
        color: var(--vis-blue);
    }

    .value {
        display: inline-table; /* Prevents overflow of selection on double click */

        span {
            color: var(--vis-gray);
            max-width: 250px;
            display: inline-block;
            vertical-align: middle;
            text-overflow: ellipsis;
            overflow: hidden;
            user-select: all;
            white-space: nowrap;
        }

        &.expand span {
            max-width: none;
            word-break: break-all;
            white-space: normal;
        }

        &.human span {
            color: var(--vis-green);
            font-weight: bold;
        }
    }

    &.hover {
        background-color: var(--vis-hover);
    }
}
