#side-produced-prefixes {
    height: 50px;
}

#network, #editor {
    height: 100%; width: 100%;
    background-color: white;
}

#sidebar {
    padding: 1em;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.tab-container {
    height: 100%;
    width: 100%;
}

.lower-pane .main-space {
    overflow: auto;
    overflow-y: scroll;
}

.console {
    padding: 1px 4px;
    height: 100%;
    width: 100%;
}
