
<ng-template #pane1>
    <div id="sidebar">
        <div *ngIf="gs.selectedNode">
            <h2 class="is-size-4 mb-3">On {{ gs.selectedNode.label }}</h2>

            <div class="field">
                <label class="label is-small">Node Name</label>
                <input class="input is-small" type="text" placeholder="Alice"
                    [(ngModel)]="gs.selectedNode.label"
                    (input)="this.gs.nodes.update({ id: gs.selectedNode.id, label: gs.selectedNode.label })"
                    (change)="computeNFibs()">
            </div>

            <label class="label is-small">Express Interest</label>
            <div class="field has-addons">
                <input class="input is-small" type="text"
                       placeholder="/ndn/alice/test" #expressInput
                       value="/ndn/multicast/test/$time">

                <div class="control">
                    <button class="button is-link is-light is-small"
                            (click)="selExpressInterest(expressInput.value)">
                        Send
                    </button>
                </div>
            </div>

            <div class="field">
                <button class="button is-link full-width is-light is-small full-width"
                        [disabled]="pendingClickEvent == sendPingClick"
                        (click)="pendingClickEvent = sendPingClick">
                    Ping Node
                </button>
            </div>

            <div>
                <label class="label is-small">Computed FIB:</label>
                <pre>{{ gs.selectedNode.nfw.strsFIB().join('\n') }}</pre>
                <br/>
            </div>

            <div class="field">
                <label class="label is-small">Produced Prefixes:</label>
                <textarea class="textarea full-width mb-3 is-small"
                          id="side-produced-prefixes" #prp
                          [value]="gs.selectedNode.producedPrefixes.join('\n')"></textarea>
                <button class="button is-link is-light is-small full-width"
                        (click)="gs.nodes.update({ id: gs.selectedNode.id, producedPrefixes: prp.value.split('\n') }); computeNFibs()">
                    Set
                </button>
            </div>

            <hr/>
        </div>

        <div *ngIf="gs.selectedEdge">
            <h2 class="is-size-4 mb-3">
                On
                {{ $any(gs.nodes.get($any(gs.selectedEdge?.from))).label }}
                &#8212;
                {{ $any(gs.nodes.get($any(gs.selectedEdge?.to))).label }}
            </h2>

            <div class="field">
                <label class="label is-small">Latency (ms)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="10"
                           [(ngModel)]="gs.selectedEdge.latency"
                           (input)="gs.edges.update(gs.selectedEdge); computeNFibs()">
                </div>
                <p class="help is-small">Negative for default latency</p>
            </div>

            <div class="field">
                <label class="label is-small">Loss (%)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="0"
                           [(ngModel)]="gs.selectedEdge.loss"
                           (input)="gs.edges.update(gs.selectedEdge)">
                </div>
                <p class="help is-small">Negative for default loss</p>
            </div>

            <hr/>
        </div>

        <div>
            <h2 class="is-size-4">Global Operations</h2>
            <br/>
            <div class="field">
                <button class="button is-link full-width is-light is-small full-width"
                        (click)="computeNFibs()">Compute Routes</button>
            </div>

            <div class="field">
                <label class="label is-small">Default Latency (ms)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="10"
                           [(ngModel)]="this.gs.defaultLatency"
                           (change)="computeNFibs()">
                </div>
            </div>

            <div class="field">
                <label class="label is-small">Default Loss (%)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="0"
                           [(ngModel)]="this.gs.defaultLoss">
                </div>
            </div>

            <div class="field">
                <label class="label is-small">Content Store Size</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="100"
                           [(ngModel)]="this.gs.contentStoreSize">
                </div>
            </div>

            <div class="field">
                <label class="label is-small">Latency Slowdown Multiplier</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="100"
                           [(ngModel)]="this.gs.latencySlowdown">
                </div>
            </div>

            <div class="field">
                <label class="label is-small">MiniNDN Config:</label>
                <textarea class="textarea full-width mb-1 is-small" #mnConf></textarea>
                <button class="button is-danger is-light is-small full-width" (click)="loadMiniNDNConfig(gs, mnConf.value)">
                    Load
                </button>
                <button class="button is-link is-light is-small full-width mt-1">
                    Generate
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #pane2>
    <div #networkContainer id="network"></div>
</ng-template>

<app-pane [pane1]="pane1" [pane2]="pane2"></app-pane>
