#side-produced-prefixes {
    height: 50px;
}

#network, #editor {
    height: 100%; width: 100%;
    background-color: white;
}

#sidebar {
    padding: 1em;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: 100%; width: 100%;
}

.main-head {
    display: block;
    margin-bottom: 0;
}

.main-space {
    flex: 1;
    overflow: hidden;
}
