
<ng-template #pane1>
    <div id="sidebar">
        <div *ngIf="gs.selectedNode">
            <h2 class="is-size-4 mb-3">On {{ gs.selectedNode.label }}</h2>

            <div class="field">
                <label class="label is-small">Node Name</label>
                <input class="input is-small" type="text" placeholder="Alice"
                    [(ngModel)]="gs.selectedNode.label"
                    (input)="this.gs.nodes.update({ id: gs.selectedNode.id, label: gs.selectedNode.label })"
                    (change)="computeNFibs()">
            </div>

            <label class="label is-small">Express Interest</label>
            <div class="field has-addons">
                <input class="input is-small" type="text"
                       placeholder="/ndn/alice/test" #expressInput
                       value="/ndn/multicast/test/$time">

                <div class="control">
                    <button class="button is-link is-light is-small"
                            (click)="selExpressInterest(expressInput.value)">
                        Send
                    </button>
                </div>
            </div>

            <div class="field">
                <button class="button is-link full-width is-light is-small full-width"
                        [disabled]="pendingClickEvent == sendPingClick"
                        (click)="pendingClickEvent = sendPingClick">
                    Ping Node
                </button>
            </div>

            <div class="field">
                <label class="label is-small">Produced Prefixes:</label>
                <textarea class="textarea full-width mb-3 is-small"
                          id="side-produced-prefixes" #prp
                          [value]="gs.selectedNode.producedPrefixes.join('\n')"></textarea>
                <button class="button is-link is-light is-small full-width"
                        (click)="gs.nodes.update({ id: gs.selectedNode.id, producedPrefixes: mlstrToArray(prp.value) }); computeNFibs()">
                    Set
                </button>
            </div>

            <div class="field">
                <label class="label is-small">Execute Function:</label>
                <button class="button is-link is-light is-small full-width mb-1 mt-1"
                        (click)="showCodeEditor = true">
                    Open Editor
                </button>
                <button class="button is-success is-light is-small full-width mb-1"
                        (click)="runCode($any(gs.selectedNode).nfw.codeEdit);">
                    Run
                </button>
            </div>

            <div>
                <label class="label is-small">Computed FIB:</label>
                <pre>{{ gs.selectedNode.nfw.strsFIB().join('\n') }}</pre>
                <br/>
            </div>

            <hr/>
        </div>

        <div *ngIf="gs.selectedEdge">
            <h2 class="is-size-4 mb-3">
                On
                {{ $any(gs.nodes.get($any(gs.selectedEdge?.from))).label }}
                &#8212;
                {{ $any(gs.nodes.get($any(gs.selectedEdge?.to))).label }}
            </h2>

            <div class="field">
                <label class="label is-small">Latency (ms)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="10"
                           [(ngModel)]="gs.selectedEdge.latency"
                           (input)="gs.edges.update(gs.selectedEdge); computeNFibs()">
                </div>
                <p class="help is-small">Negative for default latency</p>
            </div>

            <div class="field">
                <label class="label is-small">Loss (%)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="0"
                           [(ngModel)]="gs.selectedEdge.loss"
                           (input)="gs.edges.update(gs.selectedEdge)">
                </div>
                <p class="help is-small">Negative for default loss</p>
            </div>

            <hr/>
        </div>

        <div>
            <h2 class="is-size-4">Global Operations</h2>
            <br/>
            <div class="field">
                <button class="button is-link full-width is-light is-small full-width"
                        (click)="computeNFibs()">Compute Routes</button>
            </div>

            <div class="field">
                <label class="label is-small">Default Latency (ms)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="10"
                           [(ngModel)]="this.gs.defaultLatency"
                           (change)="computeNFibs()">
                </div>
            </div>

            <div class="field">
                <label class="label is-small">Default Loss (%)</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="0"
                           [(ngModel)]="this.gs.defaultLoss">
                </div>
            </div>

            <div class="field">
                <label class="label is-small">Content Store Size</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="100"
                           [(ngModel)]="this.gs.contentStoreSize">
                </div>
            </div>

            <div class="field">
                <label class="label is-small">Latency Slowdown Multiplier</label>
                <div class="control">
                    <input class="input is-small" type="number" placeholder="100"
                           [(ngModel)]="this.gs.latencySlowdown">
                </div>
            </div>

            <div class="field">
                <label class="label is-small">MiniNDN Config:</label>
                <textarea class="textarea full-width mb-1 is-small" #mnConf></textarea>
                <button class="button is-danger is-light is-small full-width" (click)="loadMiniNDNConfig(gs, mnConf.value)">
                    Load
                </button>
                <button class="button is-link is-light is-small full-width mt-1">
                    Generate
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #pane2>
    <div #networkContainer id="network"></div>
</ng-template>

<app-pane [pane1]="pane1" [pane2]="pane2"></app-pane>

<div class="modal is-active" *ngIf="showCodeEditor">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 85vw;">
        <header class="modal-card-head">
            <p class="modal-card-title">Function for {{ gs.selectedNode?.label }}</p>
            <button class="delete" aria-label="close" (click)="showCodeEditor = false"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <app-editor [(code)]="$any(gs.selectedNode).nfw.codeEdit"></app-editor>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success"
                    (click)="runCode($any(gs.selectedNode).nfw.codeEdit);">
                Run
            </button>
            <button class="button" (click)="showCodeEditor = false">Close</button>
        </footer>
    </div>
</div>

<div style="position: fixed; top: 5px; left:500px; max-width: 600px; font-family: monospace;" *ngIf="visualizedPacket">
    <ng-container
        [ngTemplateOutlet]="visTlvA"
        [ngTemplateOutletContext]="{packets: visualizedPacket}">
    </ng-container>
</div>

<ng-template #visTlvA let-packets='packets'>
    <ng-container *ngFor='let tlv of packets'>
        <div style="border: 2px solid black; display: inline-block; box-sizing: border-box; padding: 1px; margin: 1px;">
            <span style="color: red;" [title]="tlv.t">
                {{ getTlvTypeText(tlv.t) }}
            </span>
            <span style="color: blue;">
                {{ tlv.l }}
            </span>
            <ng-container
                *ngIf="tlv.v.length > 0"
                [ngTemplateOutlet]="visTlvA"
                [ngTemplateOutletContext]="{packets: tlv.v}">
            </ng-container>
            <ng-container *ngIf="tlv.v.length == 0 && tlv.vl.length > 0">
                {{ tlv.vs ? tlv.vs : tlv.vl.length + 'B' }}
            </ng-container>
        </div>
    </ng-container>
</ng-template>
