
<ng-template #pane1>
    <div id="sidebar">
        <h1 class="is-size-3">NDN-Play</h1>
        <ng-container
            [ngTemplateOutlet]="sideBarInner"
            [ngTemplateOutletContext]="{selnode: gs.topo.getSelectedNode(), seledge: gs.topo.getSelectedEdge()}">
        </ng-container>
    </div>

    <ng-template #sideBarInner let-selnode="selnode" let-seledge="seledge">
        <topo-node *ngIf="selnode" [node]="selnode" [topo]="topo"></topo-node>
        <topo-edge *ngIf="seledge" [edge]="seledge" [topo]="topo"></topo-edge>
        <topo-global *ngIf="!selnode && !seledge" [topo]="topo"></topo-global>
    </ng-template>
</ng-template>

<ng-template #pane2>
    <ng-template #mainPane>
        <div class="main-container">
            <div class="is-small tabs main-head">
                <ul>
                    <li [class.is-active]="mainTab == mainTabs.Topology"
                        (click)="mainTab = mainTabs.Topology">
                        <a>Topology</a>
                    </li>
                    <li [class.is-active]="mainTab == mainTabs.Editor"
                        *ngIf="gs.topo.getSelectedNode()"
                        (click)="mainTab = mainTabs.Editor">
                        <a>Editor</a>
                    </li>
                </ul>
            </div>
            <div class="main-space">
                <div #networkContainer id="network" [hidden]="mainTab != mainTabs.Topology"></div>

                <div id="editor" *ngIf="mainTab == mainTabs.Editor && gs.topo.getSelectedNode()">
                    <app-editor [(code)]="$any(gs.topo.getSelectedNode()).extra.codeEdit"></app-editor>
                </div>
            </div>
        </div>
    </ng-template>


    <ng-template #lowerPane>
        <div class="lower-pane main-container">
            <div class="is-small tabs main-head">
                <ul>
                    <li [class.is-active]="lowerTab == lowerTabs.Console"
                        (click)="lowerTab = lowerTabs.Console">
                        <a>Console</a>
                    </li>
                    <li [class.is-active]="lowerTab == lowerTabs.Visualizer"
                        (click)="lowerTab = lowerTabs.Visualizer">
                        <a>Packet Visualizer</a>
                    </li>
                    <li [class.is-active]="lowerTab == lowerTabs.Captured"
                        *ngIf="gs.topo.getSelectedNode()"
                        (click)="lowerTab = lowerTabs.Captured">
                        <a>Packet Capture</a>
                    </li>
                </ul>
            </div>
            <div class="main-space">
                <div class="console" #console
                     [hidden]="lowerTab !== lowerTabs.Console">
                </div>

                <div>
                    <div class="m-2" *ngIf="lowerTab == lowerTabs.Visualizer">
                        <app-visualizer [packet]="visualizedPacket"></app-visualizer>
                    </div>
                </div>

                <div>
                    <div class="m-2" *ngIf="lowerTab == lowerTabs.Captured && gs.topo.getSelectedNode()">
                        <app-captured-list
                            (packetClick)="this.visualizedPacket = $event; lowerTab = lowerTabs.Visualizer"
                        ></app-captured-list>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="full-width">
        <app-pane [pane1]="mainPane" [pane2]="lowerPane"
                  [vertical]="true" basis="70%"
                  (resize)="consoleResize()">
        </app-pane>
    </div>
</ng-template>

<app-pane [pane1]="pane1" [pane2]="pane2" basis="300px"></app-pane>
