<ng-template #sidebarPane>
    <div id="sidebar">
        <h1 class="is-size-3">NDN-Play</h1>
        <topo-sidebar [topo]="gs.topo"></topo-sidebar>
    </div>
</ng-template>

<ng-template #mainPane>
    <ng-template #mainUpperPane>
        <app-tabs class="tab-container">
            <app-tab name="Topology">
                <div #topoContainer class="main-tab"></div>
            </app-tab>
            <app-tab name="Editor" *ngIf="gs.topo.selectedNode">
                <div class="main-tab">
                    <app-editor [(code)]="gs.topo.selectedNode.extra.codeEdit" language="javascript"></app-editor>
                </div>
            </app-tab>
        </app-tabs>
    </ng-template>

    <ng-template #mainLowerPane>
        <app-tabs class="tab-container main-lower" #lowerTabs>
            <app-tab name="Console" *ngIf="gs.topo.provider.openTerminal; else consoleOnly">
                <div class="console">
                    <app-tabs class="tab-container main-lower" #consoleTabs>
                        <app-tab name="JS" (select)="console.doResize?.()">
                            <div class="console"> <console #console [resize]="paneChange"></console> </div>
                        </app-tab>

                        <app-tab *ngFor="let t of gs.topo.activePtys" [name]="t.name" (select)="pty.doResize?.()" #ptyTab>
                            <pty [data]="t.data" [writer]="t.write" #pty
                                 [resized]="t.resized" [resize]="paneChange"
                                 [active]="consoleTabs.selection == ptyTab"></pty>
                        </app-tab>
                    </app-tabs>
                </div>
            </app-tab>

            <ng-template #consoleOnly>
                <app-tab name="Console" (select)="console.doResize?.()">
                    <div class="console"> <console #console></console> </div>
                </app-tab>
            </ng-template>


            <app-tab name="TLV Visualizer" #lowerVisTab>
                <div class="m-2">
                    <app-visualizer [tlv]="visualizedTlv"></app-visualizer>
                </div>
            </app-tab>

            <app-tab name="Packet Capture" *ngIf="gs.topo.selectedNode" #captureTab>
                <div class="m-1 mr-0" style="height: calc(100% - 0.5rem);">
                    <app-captured-list *ngIf="lowerTabs.selection == captureTab"
                        [node]="gs.topo.selectedNode"
                        [provider]="gs.topo.provider"
                        (packetClick)="setVisualized($event); lowerTabs.selection = lowerVisTab"
                    ></app-captured-list>
                </div>
            </app-tab>

            <app-tab name="Traffic Replay" #replayTab>
                <div class="m-2">
                    <app-captured-replay></app-captured-replay>
                </div>
            </app-tab>
        </app-tabs>
    </ng-template>

    <div class="full-width">
        <app-pane [pane1]="mainUpperPane" [pane2]="mainLowerPane"
                  [vertical]="true" basis="70%"
                  (resize)="paneResize()">
        </app-pane>
    </div>
</ng-template>

<app-pane [pane1]="sidebarPane" [pane2]="mainPane" basis="300px" (resize)="paneResize()"></app-pane>
