#side-produced-prefixes {
    height: 50px;
}

#sidebar {
    padding: 1em;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.console {
    height: 100%;
    width: 100%;
    padding: 2px;
    overflow: hidden;
}

.capture-tab {
    height: calc(100% - 0.5rem);
}