#side-produced-prefixes {
    height: 50px;
}

.main-tab {
    height: 100%; width: 100%;
    background-color: var(--bg-color);
}

#sidebar {
    padding: 1em;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.tab-container {
    height: 100%;
    width: 100%;
}

.console {
    height: 100%;
    width: 100%;
    padding: 2px;
    overflow: hidden;
}

.tab-full {
    height: 100%;
    overflow-y: auto;
}
