.packets {
    width: 100%;
    font-family: monospace;
    font-size: 0.8em;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
}

.packets .Interest {
    background-color: #ccffcc;
}

.packets .Data {
    background-color: #ffcccc;
}

.packets .active {
    background-color: magenta;
}

.packets .selected {
    background-color: blueviolet;
    color: white;
}

.packets tr {
    cursor: pointer;
}

.packets td, .packets th {
    padding: 1px 2px;
    border-bottom: 1px solid white;
}
