.outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .top-bar {
        display: flex;
        flex-direction: row;
        padding-bottom: 2px;

        input.filter {
            height: 2em;
            font-size: 0.7rem;
            flex: 1;
        }

        div.buttons {
            height: 1em;
            font-size: 0.9em;
            padding: 0 2px;
            user-select: none;

            > div {
                cursor: pointer;
            }
        }
    }

    .inner {
        flex: 1;
    }
}

.packets {
    width: 100%;
    font-family: monospace;

    .Interest {
        background-color: var(--cap-interest-color);
    }

    .Data {
        background-color: var(--cap-data-color);
    }

    .active {
        background-color: magenta;
    }

    .selected {
        background-color: var(--cap-selection-color);
        color: white;
    }

    tr:has(td) {
        cursor: pointer;
    }

    th {
        user-select: none;
    }

    td, th {
        padding: 1px 2px;
        border-bottom: 1px solid var(--bg-color);
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.time { width: 120px; }
        &.src-dist { min-width: 150px; width: 200px; }
        &.length { width: 50px; }
        &.name { max-width: 100px; }
    }
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
}