.packets {
    width: 100%;
    font-family: monospace;
    font-size: 0.8em;

    .Interest {
        background-color: #ccffcc;
    }

    .Data {
        background-color: #ffcccc;
    }

    .active {
        background-color: magenta;
    }

    .selected {
        background-color: blueviolet;
        color: white;
    }

    tr {
        cursor: pointer;
    }

    th {
        user-select: none;
    }

    td, th {
        padding: 1px 2px;
        border-bottom: 1px solid white;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.time { min-width: 120px; }
        &.src-dist { min-width: 150px; }
        &.length { min-width: 50px; }
    }

    div.buttons {
        user-select: none;
        position: absolute;
        top: 0;
        right: 0;
        > div {
            cursor: pointer;
        }
    }
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
}