.packets {
    width: 100%;
    font-family: monospace;
    font-size: 0.8em;
}

.packets .Interest {
    background-color: #ccffcc;
}

.packets .Data {
    background-color: #ffcccc;
}

.packets .active {
    background-color: cyan;
}

.packets tr {
    cursor: pointer;
}

.packets td, .packets th {
    padding: 1px 2px;
    border-bottom: 1px solid white;
}
