@import 'bulma/css/bulma.css';

body, html {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #ffffff;
  }

*::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.full-width {
    width: 100%;
}
