@import 'bulma/bulma.sass';
@import 'xterm/css/xterm.css';

:root {
    --bg-color: white;
}

body, html {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: var(--bg-color);
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track {
    background: #ffffff;
  }

*::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.full-width {
    width: 100%;
}

/** Reset bulma styles for code editor (monaco) */
.code-editor {
    .title, .title:not(:last-child)  {
        all: unset;
    }
}
