<section class="hero is-danger">
  <div class="hero-body">
    <p class="title">
      NDN Play
    </p>
    <p class="subtitle">
      Named Data Networking Simulator
    </p>
  </div>
</section>

<div class="outer">
    <br>
    <div class="container is-clickable is-fullwidth" *ngFor="let p of projects"
        (click)="open(p)">
        <img class="vert-middle templ mr-3" [src]="p.img"/>
        <div class="container is-fullwidth is-inline-block vert-middle ml-3">
            <h1 class="title is-4">{{ p.title }}</h1>
            <h2 class="subtitle is-5">{{ p.subtitle }}</h2>
        </div>
        <hr>
    </div>
</div>
